<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Lista de Tarefas</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= diaSemanaEJS %></h1>
    </div>

    <div class="box">
      <% for (var i=0; i<novosItensListaEJS.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= novosItensListaEJS[i] %></p>
      </div>
      <% } %>
      <form class="item" action="/" method="POST">
        <input type="text" name="novoItem" placeholder="Novo item" autocomplete="off"/>
        <button type="submit" name="list" value=<%= diaSemanaEJS %>>+</button>
      </form>
  </div>

    
  </body>
</html>
